<p>Bonjour,</p>
<p>Vous avez demandé à réinitialiser votre mot de passe. Cliquez sur le lien ci-dessous pour continuer :</p>
<p>
    <a href="{{ resetUrl }}">Réinitialiser mon mot de passe</a>
</p>
<p>Si vous n'avez pas fait cette demande, ignorez cet email.</p>
<p>Cet email a été envoyé à : {{ userEmail }}</p>
